<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product List</title>
    <link rel="stylesheet" href="/css/categoryproduct.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
<h1>Product List</h1>
<header class="top-header">
    <div class="logo">
        <span>учётка</span>
    </div>
    <nav>
        <a href="/home" class="home-link">Home</a>
        <a class="bottom-link" onclick="toggleAddProductForm()">Add Product</a>
    </nav>
</header>
<table class="styled-table" id="myTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category ID</th>
        <th>Quantity</th>
        <th>Image</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.category_id}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <!-- Отображение изображения продукта -->
            <img th:if="${product.image}" th:src="@{/home/image/{id}(id=${product.id})}" style="max-width: 100px; max-height: 100px;">
            <span th:unless="${product.image}">No Image</span>
        </td>

        <td><a href="#" th:attr="data-url=@{'/home/edit/' + ${product.id}}" onclick="toggleEditCategoryForm()" class="edit-link">Edit</a></td>

        <td><a th:href="@{'/home/delete/' + ${product.id}}" class="delete-link">Delete</a></td>
    </tr>

    <div id="addProductForm" style="display: none;">
    <h1>Add Product</h1>
    <form th:action="@{/home/new}" th:object="${product}" method="post" enctype="multipart/form-data">
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"><br>

        <label>Description:</label><br>
        <input type="text" th:field="*{description}"><br>

        <label>Category ID:</label><br>
        <input type="text" th:field="*{category_id}"><br>

        <label>Quantity:</label><br>
        <input type="text" th:field="*{quantity}"><br>

        <label>Image:</label><br>
        <input type="file" name="imageFile"><br> <!-- Поле для загрузки изображения -->


        <input type="submit" value="Add Product">
    </form>
    </div>

    <div id="editFormContainer"></div>

    </tbody>
</table>

</body>
<script>
    function toggleAddProductForm() {
        var form = document.getElementById('addProductForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
        function toggleEditCategoryForm() {
        var form = document.getElementById('editFormContainer');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".edit-link").click(function(e) {
            e.preventDefault();

            var editUrl = $(this).attr("data-url");

            $.get(editUrl, function(response) {
                $("#editFormContainer").html(response);
            });
        });
    });
</script>
<script>
    // Функция для сравнения чисел при сортировке
function compareNumbers(a, b) {
  return a - b;
}

// Функция для сортировки таблицы
function sortTable(n) {
  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc";

  while (switching) {
    switching = false;
    rows = table.rows;

    for (i = 1; i < rows.length - 1; i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];

      if (n === 4) { // Проверяем, если это столбец с количеством (по индексу 4)
        let xVal = parseInt(x.innerHTML); // Преобразуем значение в числовой тип данных
        let yVal = parseInt(y.innerHTML);

        if (dir === "asc") {
          if (xVal > yVal) {
            shouldSwitch = true;
            break;
          }
        } else if (dir === "desc") {
          if (xVal < yVal) {
            shouldSwitch = true;
            break;
          }
        }
      } else { // Для других столбцов сортировка строк
        if (dir === "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir === "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
    }

    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount++;
    } else {
      if (switchcount === 0 && dir === "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

// Получаем все заголовки таблицы
let headers = document.querySelectorAll(".styled-table th");

// Добавляем обработчик события для каждого заголовка таблицы
headers.forEach((th, index) => {
  th.addEventListener("click", () => {
    sortTable(index);
  });
});

</script>

</html>