<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>История продаж/покупок</title>
    <link rel="stylesheet" href="/css/saleshistorystyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="top-header">
    <div class="logo">
        <span>учётка</span>
    </div>
    <nav>
        <a href="/home" class="home-link">Home</a>
        <a href="/home/allproducts" class="bottom-link">All Products</a>
    </nav>
</header>


<h1>История продаж/покупок</h1>
<table border="1"  class="styled-table" id="myTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Действие</th>
        <th>Количество</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    <!-- Передаем записи в таблицу -->
    <tr th:each="record : ${records}">
        <td th:text="${record.id}"></td>
        <td th:text="${record.date}"></td>
        <td th:text="${record.action}"></td>
        <td th:text="${record.quantity}"></td>
        <td th:text="${record.product.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
